<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1 class="align-center" id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contact List</h1>
        <div id="container">
            <ul>
                   
                <% for (let i of contact_list) { %> 
                    
                    <li class="contact">
                        <div class="contact-logo">
                            <i class="fas fa-address-card"></i>
                        </div>
                        <div class="details">
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                        </div>
                        <div class="delete-button">
                            <a href="/delete-contact/?phone=<%= i.phone %>">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </li>
                    
                <% } %>
            </ul>
        </div>

        <form class="align-center" action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button class="submit-button" type="submit">Add <i class="fas fa-plus"></i></button>
        </form>
        <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>